*.o
*.pyc
*.swp
.emacs.d/auto-save-list
.emacs.d/session*
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/ido.last~
.emacs.d/places
.gnupg/random_seed
*.class
*.jar
.svn
.classpath
.project
.settings
target
.metadata
tags
TAGS
.emacs.d/ac-comphist.dat
extra-ssh-config
.emacs.d/bookmarks
*.egg-info
.emacs.d/*session*
.gnupg/pubring.gpg~
.vscode
