priority 10

snippet ife "if error"
if err != nil {
	${0}
}
endsnippet

snippet ifie "if inline error"
if err := ${1:value}; err != nil {
	${0}
}
endsnippet

snippet ifef "if format.errorf"
if err != nil {
	return fmt.Errorf("${1:string}: %s", err)
}
${0}
endsnippet
